# Default configuration file for the sequencing report service
---

port: 9999
db_connection_string: sqlite:///sequencing_reports.db
monitored_directories:
    - ./tests/resources
alembic_log_config_path: config/logger.config
alembic_scripts: ./alembic/
reports_dir: ./tests/resources/reports/
process_queue_check_interval: 5 # in seconds
nextflow_log_dirs: /path/to/nextflow_log_dirs

nextflow_config:
    main_workflow_path: ./summary-report-development/main.nf
    nf_config: ./summary-report-development/config/nextflow.config
    environment:
        NXF_TEMP: /tmp/
        NXF_WORK: /tmp/nf_work/
    # Note that in the parameters section it is possible to do variable
    # subsitution on the following variables.
    # loading the config.
    # - ${DEFAULT:runfolder_name}
    # - ${DEFAULT:runfolder_path}
    # - ${DEFAULT:current_year}
    parameters:
        runfolder: ${DEFAULT:runfolder_path}
        config_dir: ./summary-report-development/config/
        fastq_screen_db: /opt/FastQ_Screen_Genomes/
        checkqc_config: /etc/checkqc/config.yaml
        output_dir: ${DEFAULT:runfolder_path}/reports
        scripts_folder: ./summary-report-development/bin/
