# Default configuration file for the sequencing report service

---
port: 9999
db_connection_string: sqlite:///sequencing_reports.db
reports_path: ./tests/resources/
monitored_directories:
    - ./tests/resources
alembic_ini_path: config/alembic.ini
alembic_log_config_path: config/logger.config
process_queue_check_interval: 30 # in seconds
nextflow_config:
    main_workflow_path: Molmed/summary-report-development/main.nf
    nf_config: config/nextflow.config
    pipeline_version: master
    parameters:
        runfolder: RUNFOLDER_REPLACE
        fastq_screen_db: ~/large_disk/FastQ_Screen_Genomes/
