name: Run Unit Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12','3.13']

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          pip install -r requirements/dev .
          npm install -g pajv
      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "24.04.2"
      - name: Test nextflow
        run: nextflow run -revision main socks --style ascii
      - name: Install apptainer
        run: |
          sudo add-apt-repository -y ppa:apptainer/ppa
          sudo apt update
          sudo apt install -y apptainer
      - name: Launch tests
        run: |
          pytest ./tests
      - name: Validate pipeline config files
        run: >
          pajv
          -s config/pipeline_config/schema.json
          -d config/pipeline_config/*.yml
