name: Run Unit Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12','3.13']

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          activate-environment: "true"
          enable-cache: true
      - name: Setup virtual environment
        run: |
          uv venv
          source .venv/bin/activate
      - name: Install dependencies
        run: |
          uv pip install wheel
          uv sync --all-groups
          npm install -g pajv
      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "25.10.2"
      - name: Test nextflow
        run: nextflow run -revision main socks --style ascii
      - name: Install apptainer
        run: |
          sudo add-apt-repository -y ppa:apptainer/ppa
          sudo apt update
          sudo apt install -y apptainer
      - name: Launch tests
        run: |
          uv run pytest ./tests
      - name: Validate pipeline config files
        run: >
          pajv
          -s config/pipeline_config/schema.json
          -d config/pipeline_config/*.yml
